<div class="content">

  <div class="about-cta">
    <h4>About Beauty Lounge Denver</h4>
    <p>
      With each visit, your artist’s consultation coaches you through the exact steps you need to acquire your ultimate beauty goals. You will have the opportunity to discuss appropriate home care as well as experience the latest in beauty tips and up-to-date fashion looks. Our certified estheticians use only the best products and by only single dipping there wax sticks your health is our number one priority. Because we believe that confidence makes the soul smile we look forward to sharing our passion with you today!
    </p>
  </div>

  <div class="split_cols">
    <div class="left">
      <h2>Eyebrow Shaping</h2>
      <h4>First Eyebrow Appointment</h4>
      <p class="padding">
        We take 30 minutes for your first appointment. We start by measuring your eyebrows based on your nose and eyes. Then we will fit you to a stencil so you are symmetrical on both sides. We will go over the proper shape of your eyebrow and will show you everything we are going to take off and what your brows will look like! We also will also show you places you need to grow in. In order for you to take care of your amazingly shaped eyebrows on your own, we will show you how to properly fill in your eyebrows using brow powder, pencil, and brow gel. Before you’re finished, we conceal any redness from your shaping.
      </p>
    </div>
    <div class="sidebar sidebar_img">
      <img src="images/eyebrowsshape.png" />
    </div>
  </div>

  <div class="split_cols">
    <div class="sidebar_alt sidebar_img_alt">
      <img src="images/fpo2.png" />
    </div>
    <div class="right">
      <h4>
        Teen Eyebrow Appointments
      </h4>
      <p class="padding">
        We recommend teens should start shaping their brows between the ages of 12-14. It is good to start them out with the proper shape BEFORE they start over tweezing. We keep teen brows very full and natural. We will measure the brows, fit them to a stencil, and give them the perfect shape! We also educate teen’s on how to properly maintain their brows at home.
      </p>
    </div>
  </div>

  <div class="split_cols">
    <div class="left">
      <h4>Child Eyebrow Appointments</h4>
      <p>
        We recommend anyone under 12 should not be shaping their brows because they are still growing. We do encourage cleaning up the middle of the brow if they are growing together.
      </p>
    </div>
    <div class="sidebar sidebar_img">
      <img src="images/fpo2.png" />
    </div>
  </div>

  <div class="split_cols">
    <div class="sidebar_alt sidebar_img_alt">
      <img src="images/fpo2.png" />
    </div>
    <div class="right">
      <h4>
        Men’s Eyebrow Appointments
      </h4>
      <p class="padding">
        Yes, men come to Beauty Lounge! Most men more then woman need their brows cleaned up. We measure men the same way - based on their eyes and nose. We clean them up to make them look natural and not over done and then give them a trim. We will also wax the nose and ears if requested. Most men should come in about every four weeks for a waxing.
      </p>
    </div>
  </div>

  <div class="split_cols">
    <div class="left">
      <h4>Eyelash Extensions</h4>
      <p class="padding">
        Eyelash extensions are the new top beauty request because they are weightless, with a natural look and feel and a painless procedure. There are a large variety of lashes from 6-15mm length, 30′s, 40′s, 50′s ~ curliness and over 500 color selections. We measures your natural lash and will determine with you the style that is best. Each lash is placed on your individual natural lash and will grow with your natural hair growth. Appointment times vary from 2 1/2 hrs for your first initial visit to 1 hr for a re-lash. Typical re-lash is every 2-4 weeks depending on your hair growth cycle.
      </p>
    </div>
    <div class="sidebar sidebar_img">
      <img src="images/fpo2.png" />
    </div>
  </div>

  <div class="split_cols">
    <div class="sidebar_alt sidebar_img_alt">
      <img src="images/fpo2.png" />
    </div>
    <div class="right">
      <h4>
        Prepare for your Eyelash procedure:
      </h4>
      <p class="padding">
        Do not wear any eye/face make-up and do not curl your lashes.  Please remove your contact lenses. 
        Eyelids and lashes must be completely dry. 
        Plan on taking a shower/bath prior to appt.
      </p>
    </div>
  </div>

  <div class="aftercare">
    <h4>Aftercare for first 48 hours for your Eyelash Extensions:</h4>
    <p>
      Showering or wetting your eyelashes. 
      Exposure to heat, steam, sauna, and friction. 
      Sleeping on side or stomach. 
      Receiving chemical treatments, such as chemical peels, skin-resurfacing procedures, and laser treatments.
    </p>
  </div>
</div>
