<div class="content">
  <div class="header">
    <h4>8683 E. Lincoln Ave., suite 100
      <br>
      Lone Tree CO 80124</h4>
      
      <div class="social">
        <a href="https://www.facebook.com/beautyloungedenver/photos_stream?ref=page_internal"><img src="images/facebook.jpg" alt="" /></a>
        <a href="https://twitter.com/@BeautyLoungeCO"><img src="images/twitter.jpg" alt="" /></a>
        <a href="https://www.pinterest.com/beautyloungeCO/"><img src="images/pinterest.jpg" alt="" /></a>
      </div>
      <br>

    <h1>720-218-2182</h1>
  </div>
  <div class="contact">
    <img src="images/shawnte2.png" alt="" />
  </div>
</div>
