<script>
  $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        autoControls: true
      });
  });
</script>

<div class="content">
  <div class="gallery">

    <ul class="bxslider">
      <li><img src="images/gallery1.jpg" /></li>
      <li><img src="images/gallery2.jpg" /></li>
      <li><img src="images/gallery3.jpg" /></li>
      <li><img src="images/gallery4.jpg" /></li>
      <li><img src="images/gallery5.jpg" /></li>
      <li><img src="images/gallery6.jpg" /></li>
      <li><img src="images/gallery7.jpg" /></li>
    </ul>

  </div>
</div>
