<script>
  $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        autoControls: true
      });
  });
</script>

<div class="content">
  <div class="hero">

    <a class="cta" href="https://clients.mindbodyonline.com/ASP/home.asp?studioid=24986">
      <img src="images/cta.png" alt="" />
    </a>

    <ul class="bxslider">
      <li><img src="images/01.jpg" /></li>
      <li><img src="images/02.jpg" /></li>
      <li><img src="images/03.jpg" /></li>
    </ul>


  </div>

  <div class="split_cols main">
    <div class="left">
      <h1>It's all things glamour that inspires everything at the Beauty Lounge Denver</h1>
      <p>
        Since 2012, the Beauty Lounge Denver has set the gold standard in Denver for specialty spa’s and was recently named 5280’s Readers Choice #1 Eyebrow Wax in Denver. While honored, these accolades have only strengthened our commitment to improving your life through the confidence building power of eyebrow sculpting, eyelash extensions, make up consultations, facials and massage. It is all things glamour that inspires everything at the Beauty Lounge Denver – our décor and artists take pride in making every customer feel as beautiful and confident as possible through our consultative approach.
      </p>
    </div>
    <div class="sidebar">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.009885552802!2d-104.88836300000003!3d39.536831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8504ad11d429%3A0x7ef6575587422640!2sBeauty+Lounge!5e0!3m2!1sen!2sus!4v1416631534815" width="300" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>

  <div class="accolades">
    <a href="http://youtu.be/aaLf7krG42w" target="_blank"><img src="images/eandj.png" alt="" /></a>
    <img src="images/b_o_b.jpg" alt="" />
    <img src="images/5280.jpg" alt="" />
    <img src="images/alist.png" alt="" />
  </div>

</div>
