<div class="content">
 <div class="menu">
   <h1>Menu</h1>
   <h2>Brow:</h2>

   <div class="line"><span>Eyebrow Shaping</span><span class="price">$30</span></div>
   <div class="line"><span>Eyebrow and Lip</span><span class="price">$35</span></div>
   <div class="line"><span>Lip</span><span class="price">$10</span></div>
   <div class="line"><span>Chin</span><span class="price">$10</span></div>
   <div class="line"><span>Full Face</span><span class="price">$30 and Up</span></div>
   <div class="line"><span>Men’s Eyebrow</span><span class="price">$25</span></div>
   <div class="line"><span>Eyebrow Tint</span><span class="price">$25</span></div>
   <div class="line"><span>Eyelash Tint</span><span class="price">$25</span></div>

   <h2>Lash:</h2>
   <div class="line"><span>Full Set of Lashes</span><span class="price">$200</span></div>
   <div class="line"><span>2 week relash</span><span class="price">$60</span></div>
   <div class="line"><span>3 week relash</span><span class="price">$70</span></div>

   <h2>Facials:</h2>
   <div class="line"><span>1 Hr Relaxation Facial</span><span class="price">$65</span></div>
   <div class="line"><span>European Facial with Extractions</span><span class="price">$80</span></div>

   <h2>Makeup Consultation and Application:</h2>
   <div class="line"><span>With False Eyelashes</span><span class="price">$80</span></div>
   <div class="line"><span>Without False Eyelashes</span><span class="price">$75</span></div>
   <div class="line"><span>Bridal Makeup Starting at</span><span class="price">$150</span></div>

   <h2>Massage:</h2>
   <div class="line"><span>30 Min.</span><span class="price">$40</span></div>
   <div class="line"><span>60 Min.</span><span class="price">$70</span></div>
   <div class="line"><span>90 Min.</span><span class="price">$100</span></div>

   <p style="text-align: center; padding-top:20px;">Full Bridal Packages are Available Upon Request<br>Ask your artist for details!</p>
 </div>
</div>
